<!-- start nave bar -->
<nav class="sticky top-0 z-50 pt-4 mb-16  backdrop-blur-lg pb-4">
    <!-- line -->
    <!-- <img class="absolute -top-6 -z-5 -left-5" src="line.svg" alt="line"> -->
    <!--  -->

    <div class="flex items-center justify-between max-w-7xl mx-auto">
        <div><img src="log2.svg" alt=""></div>
        <div>
            <ul class="flex items-center gap-4 font-[700] text-[#00647b]">
                <li (click)="goToHome()">Accueil</li>
                <li>tarifs</li>
                <li>documents</li>
                <li (click)="goToVisaForm()">forumulaire e-visa</li>
            </ul>
        </div>
        <div class="flex items-center gap-2">
            <div><img src="phone.svg" alt="phone"></div>
            <div>
                <p class="font-[400] text-[14px]  text-[#141414]">Besoin d'aide?</p>
                <p class="text-[#00647b] font-[600] text-[18px]">(+237) 6555-0133</p>
            </div>
        </div>
    </div>
</nav>
<!-- start nave bar -->
