<div class="super-contain bg-white">
    <app-nav-bar></app-nav-bar>

    <div class="form w-full mb-20">
        <div class="max-w-7xl mx-auto">
            <h1 class="text-[#3d997c] text-[50px] leading-[60px] font-[700]">Formulaire de e-visa</h1>
            <h1 class="text-[#141414] text-[40px] leading-[60px] font-[500]">Veuillez choisir le type de visa sollicité
            </h1>

            <!--  -->
            <div class="grid grid-cols-3 gap-8 h-[300px] mt-[50px]">
                @for (item of listVisa; track $index) { <app-visa-prise [item]="item"></app-visa-prise> }
            </div>
            <!--  -->

            <!--  -->
            <div class="flex items-center gap-4">
                <div class="">
                    <img class="h-[500px]" src="Image.svg" alt="image" />
                </div>
                <div class="border w-[800px] h-auto bg-[#F1F5EB] rounded-md overflow-hidden">
                    <div class=" h-full w-full">
                        <div class="row-form h-[85%] flex items-center">
                            <div class="min-h-full min-w-full">
                                <h1 class="text-[#3d997c] text-[40px] leading-[60px] font-[500] text-center py-2">
                                    {{visaPlan.currentPlan.label || 'E-visa de Court sejour'}}</h1>
                                <div class="grid grid-cols-2 gap-4 h-full w-full p-4">
                                    <div class="overflow-hidden">
                                        <label for="reason" class="text-[#141414]">raison du voyage</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="overflow-hidden">
                                        <label for="reason">date du voyage</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="overflow-hidden">
                                        <label for="reason">choix du visa</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="overflow-hidden">
                                        <label for="reason">email du vayageur</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                </div>
                                <h1 class="text-[#3d997c] text-[30px] leading-[50px] font-[500] text-center py-2">
                                    Ajouter le voyageur</h1>
                                <div class="grid grid-cols-2 gap-4 h-full w-full p-4">
                                    <div class="overflow-hidden">
                                        <label for="reason">nom</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="overflow-hidden">
                                        <label for="reason">Prenom</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="overflow-hidden">
                                        <label for="reason">date d’expiration du passport (>= a 6mois a la date du
                                            jour)</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="min-h-full min-w-full self-start">
                                <h1 class="text-[#3d997c] text-[40px] leading-[40px] font-[500] text-center py-4">documents
                                    obligatoires</h1>

                                <div class="flex items-center gap-4 pl-5">
                                    <div class="font-[700]">Etes-vous mineur ?</div>
                                    <div><input type="radio" name="" id="" (click)="checkIfUserIsMinor($event)"></div>
                                </div>

                                <div class="grid grid-cols-2 gap-4 h-full w-full p-4">
                                    @if (this.compteurRadio() === 2) {
                                    <div class="">
                                        <label for="reason">photo de autorisation parental</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="">
                                    </div>
                                    }
                                    <div class="">
                                        <label for="reason">photo du passport ( photo de la premiere decouverture)</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="">
                                    </div>
                                    <div class="">
                                        <label for="reason">carnet de vaccination contre la fievre jaune</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="">
                                    </div>
                                    <div class="">
                                        <label for="reason">photo du passport ( photo de la premiere de
                                            couverture)</label>
                                        <input class="border rounded-lg w-full outline-none border-none pl-3 py-2"
                                            type="text">
                                    </div>
                                    <div class="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-[15%] border">
                            <div class="flex items-center gap-4 justify-center h-full py-4">
                                @if (this.compteur() === 1) {
                                <div>
                                    <div class="py-2 px-4 rounded-[80px] h-[45px] flex items-center justify-center cursor-pointer bg-[#3d997c] text-white"
                                        (click)="nextStep()">Suivant</div>
                                </div>
                                } @else {
                                <div class="flex items-center gap-4">
                                    <div class="py-2 px-4 rounded-[100px] h-[45px] flex items-center justify-center cursor-pointer bg-[#3d997c] text-white"
                                        (click)="pevuisStep()">Précedent</div>
                                    <div class="py-2 px-4 rounded-[100px] h-[45px] flex items-center justify-center cursor-pointer bg-[#3d997c] text-white"
                                        (click)="nextStep()">Payer ({{visaPlan.currentPlan.price}})</div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>

    <app-footer></app-footer>
</div>
