<footer class="h-auto pb-2 md:pb-0 mt-[100px ] w-full relative bg-[#00647b] text-white">

    <div class="footer-container h-auto md:h-full 2xl:max-w-7xl mx-4 xl:max-w-6xl md:mx-auto py-4">
        <div class="h-[90%] w-full grid grid-cols-1 md:grid-cols-4 md:grid-rows-1 pb-8">
            <div class="h-full pt-16 relative">
                <img class="h-[90px] ml-4 md:ml-0" src="logf.svg" alt="logo">
            </div>
            <div class="pl-8 pb-4 md:pb-0">
                <h4 class="font-[700] text-[31px] leading-[37.2px] text-white mt-20 md:mb-8 md:text-[21px] md:leading-[27.2px]">Nos rubriques</h4>
                <ul class="flex items-start gap-4 flex-col">
                    <li class="cursor-pointer">Accueil</li>
                    <li class="cursor-pointer">Tarifs</li>
                    <li class="cursor-pointer">Documents</li>
                    <li class="cursor-pointer">Formulaire e-visa</li>
                </ul>
            </div>

        </div>
    </div>
</footer>
