<div class="border border-slate-300 hover:border-[#00647b] rounded-lg cursor-pointer p-4" (click)="setVisaPlan()">
    <h4 class="h-1/2 text-right text-[50px] leading-[60px] font-[700] text-[#00647b]">{{item().price}}</h4>
    <label class="text-[14px] leading-[14px] font-[600] text-[#727272]" for="VISA">VISA</label>
    <h2 class="font-[600] text-[30px] leading-[36px] text-[#00647b] mt-2">{{item().label}}</h2>
    <p class="text-[16px] leading-[30px] font-[400] text-[#727272]">{{item().desc}}</p>
</div>
