<div class="super-contain bg-[#e8edf0]">
    
    <app-nav-bar></app-nav-bar>
    <!-- start section hero  -->
    <section class="hero-section w-full h-[550px] relative z-0">
        <div class="flex items-center justify-between max-w-7xl mx-auto h-auto">
            <div class="w-1/2">
                <div class="flex items-center gap-2 text-[#3d997c] mb-4">visasure <img src="right-line.svg"
                        alt="line right"></div>
                <div class="font-[700] text-[80px] leading-[80px] text-[#3d997c]">
                    Votre visa en 4 étapes rapides et simples
                </div>
                <div
                    class="flex items-center justify-center border border-[#3d997c] hover:bg-[#3d997c] text-[#3d997c] hover:text-white transition-text cursor-pointer rounded-[100px] transition-bg duration-500 mt-8 w-[280px] py-2 px-4 gap-2">
                    <div class="whitespace-nowrap text-[14px] font-[500]">commencons maintenant</div>
                    <div class="block hover:hidden"><img src="right-arrow.svg" alt="right arrow"></div>
                    <!-- <div class="hidden hover:block"><img src="right-white.svg" alt="right arrow"></div> -->
                </div>
            </div>
            <div class="w-1/2 h-[400px] flex items-center justify-center">
                <div class="w-1/2 h-full bg-[#034833] relative">
                    <img class="h-[100px] absolute -right-6 top-5" src="01.svg" alt="">
                    <img class="w-[180px] h-[60px] absolute -right-24 top-1/3 shadow-md" src="02.svg" alt="">
                    <img class="w-[180px] h-[60px] absolute -left-10 top-1/2 shadow-md" src="care-3.svg" alt="">
                    <img class="w-[180px] h-[60px] absolute left-20 bottom-5" src="04.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end section hero  -->

    <!-- start section hero  -->
    <section class="hero-section w-full relative h-auto">
        <div class="flex items-center justify-between max-w-7xl mx-auto h-auto">
            <div class="w-1/2 h-[500px] overflow-hidden flex items-center justify-center">
                <img src="black-man.svg" alt="black">
            </div>
            <div class="w-1/2 h-[400px] text-[#3d997c]">
                <div class="flex items-center gap-2">Pourquoi nous choisir ? <img src="right-line.svg" alt="line right">
                </div>
                <h1 class="font-[700] text-[50px] mt-2">Quels sont nos atouts?</h1>
                <div class="flex items-center gap-2">
                    <div><img src="success.svg" alt="success"></div>
                    <div class="text-[22px] font-[700] leading-[30px]">Procédure sûre et sécurisée</div>
                </div>
                <p class="text-[16px] leading-[30px] font-[400] text-[#141414] pl-8">
                    Nous sommes une société de droit Belge enregistrée à la Banque Carrefour des Entreprises en
                    Belgique. Nous nous faisons accompagner par des experts en Droit, en Relations Internationales et en
                    Tourisme. Nos plateformes ont été conçues avec des mesures de sécurité conformes aux standards
                    internationaux
                </p>
                <div class="flex items-center gap-2 mt-4">
                    <div><img src="success.svg" alt="success"></div>
                    <div class="text-[22px] font-[700] leading-[30px]">Délai de traitement rapide garanti</div>
                </div>
                <p class="text-[16px] leading-[30px] font-[400] text-[#141414] pl-8">
                    Le délai de traitement officiel de la demande de visa par les Services Consulaires est de 10 jours
                    ouvrables. Mais nous mettons tout en œuvre pour servir nos clients dans un laps de temps le plus
                    court possible.
                </p>
            </div>
        </div>
    </section>
    <!-- end section hero  -->


    <!-- start section hero  -->
    <section class="hero-section w-full relative h-[450px] bg-[#e8edf0] mt-[150px]">
        <div class="flex flex-col items-center max-w-7xl mx-auto h-full bg-white rounded-[30px] py-16">
            <div class="flex items-center gap-2 mb-4">
                <div><img src="left-line.svg" alt="line right"></div>
                <div>BON A SAVOIR</div>
                <div><img src="right-line.svg" alt="line right"></div>
            </div>
            <h1 class="h-[700] text-[50px] leading-[60px] text-center text-[#3d997c] mb-4">Le visa électronique en bref
            </h1>
            <div class="grid grid-cols-3 grid-rows-2 h-[300px] w-full text-[#3d997c] mt-4">
                <div class="max-w-7xl mx-auto">
                    <h1 class="text-[18px] leading-[28px] text-[#141414]"> Séjours jusqu’à 180 jours</h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
                <div class="max-w-7xl mx-auto">
                    <h1 class=" text-[18px] leading-[28px] text-[#141414]"> Entrée simple ou multiple</h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
                <div class="max-w-7xl mx-auto">
                    <h1 class=" text-[18px] leading-[28px] text-[#141414] ">
                        Validité jusqu’à 6 mois (court-séjour) ou
                        jusqu’à 12 mois (long-séjour)
                    </h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
                <div class="max-w-7xl mx-auto">
                    <h1 class=" text-[18px] leading-[28px] text-[#141414]"> Délivré sous 5 jours en moyenne</h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
                <div class="max-w-7xl mx-auto">
                    <h1 class=" text-[18px] leading-[28px] text-[#141414]"> Entrée par voie aérienne uniquement</h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
                <div class="max-w-7xl mx-auto">
                    <h1 class=" text-[18px] leading-[28px] text-[#141414]"> Le carnet de vaccination contre la 
                        fièvre jaune est demandé pour la demande d’e-Visa</h1>
                    <p>There are many variati of passages of engineer</p>
                </div>
            </div>
            <div class="w-full bg-[#E3DBD8] h-[1px] flex items-center justify-center">
                <div
                    class="w-[140px] text-white bg-[#46709B] py-2 px-4 rounded-[100px] border-8 cursor-pointer border-white">
                    voir plus</div>
            </div>
        </div>
    </section>
    <!-- end section hero  -->

    <div class="w-full mt-12 text-[#3d997c]">
        <div class="max-w-7xl mx-auto">
            <div>
                <div class="flex items-center gap-2">Visa CATAGORY <img src="right-line.svg" alt="line right">
                </div>
                <div class="font-[700] text-[50px] leading-[60px]">Type de visa</div>
            </div>
        </div>
        <!--  -->
        <section class="hero-section w-full relative h-auto bg-[#e8edf0] ">
            <div class="flex items-center max-w-7xl mx-auto h-full rounded-[30px] pt-12">
                <div class="w-1/2 h-auto flex items-center justify-center">
                    <div class="grid grid-cols-2 grid-rows-2 w-full h-auto gap-4">
                        <div
                            class="h-[315px]w-[410px] rounded-[20px] border border-[#E3DBD8] hover:border-[#46709B] p-6 cursor-pointer">
                            <img src="icon-1.svg" alt="icon 1">
                            <h5 class="text-[#141414] text-[14px] mt-8">VISA</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">E-visa de Court sejour</h2>
                            <p class="font-[400] text-[16px] text-[#141414]">Séjour maximun de 180 joursDurée de validité
                                de 6 moisMultiple entrée</p>
                        </div>
                        <div
                            class="h-[315px]w-[410px] rounded-[20px] border border-[#E3DBD8] hover:border-[#46709B] p-6 cursor-pointer">
                            <img src="icon-2.svg" alt="icon 1">
                            <h5 class="text-[#141414] text-[14px] mt-8">VISA</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">E-visa de Court sejour</h2>
                            <p class="font-[400] text-[16px] text-[#141414]">Séjour maximun de 180 joursDurée de validité
                                de 6 moisMultiple entrée</p>
                        </div>
                        <div
                            class="h-[315px]w-[410px] rounded-[20px] border border-[#E3DBD8] hover:border-[#46709B] p-6 cursor-pointer">
                            <img src="icon-3.svg" alt="icon 1">
                            <h5 class="text-[#141414] text-[14px] mt-8">VISA</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">E-visa express</h2>
                            <p class="font-[400] text-[16px] text-[#141414]">et obtenez votre visa en 48 heures</p>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 h-[400px] text-[#3d997c] flex items-center justify-center">
                    <img class="object-cover" src="svg-undraw.svg" alt="">
                </div>
            </div>
        </section>
        <!--  -->

        <div class="w-full mt-12 text-[#3d997c]">
            <div class="max-w-7xl mx-auto text-center text-[50px] leading-[60px] font-[700]">Pièces exigible</div>
            <div class="w-full">
                <div class="flex items-center justify-center gap-2 text-center mt-1 text-[#141414]">Quel que soit le type de visa
                    demandé, deux pièces doivent être obligatoirement fournies:
                </div>
            </div>
        </div>


        <section class="hero-section w-full relative h-auto bg-[#e8edf0] ">
            <div class="flex items-center max-w-7xl mx-auto h-full rounded-[30px] pt-12">
                <div class="w-full h-auto flex items-center justify-center">
                    <div class="grid grid-cols-3 grid-rows-1 w-full h-auto gap-4">
                        <div class="h-[315px] rounded-[20px] border border-[#E3DBD8] p-6 cursor-pointer bg-white">
                            <div
                                class="p-2 rounded-full bg-white border flex items-center justify-center w-[80px] h-[80px]">
                                <img class="w-[40px] h-[40px]" src="icon-1.svg" alt="icon 1"></div>
                            <h5 class="text-[#141414] text-[14px] mt-8">visa</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">Un passeport </h2>
                            <p class="font-[400] text-[16px] text-[#141414]"> tout autre titre de voyage ayant une validité de six (06) mois au moins.</p>
                            <div class="mt-8"><img src="right-arrow.svg" alt="right arrow"></div>
                        </div>
                        <div class="h-[315px] rounded-[20px] border border-[#E3DBD8] p-6 cursor-pointer bg-white">
                            <div
                                class="p-2 rounded-full bg-white border flex items-center justify-center w-[80px] h-[80px]">
                                <img class="w-[40px] h-[40px]" src="icon-2.svg" alt="icon 1"></div>
                            <h5 class="text-[#141414] text-[14px] mt-8">VISA</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">Un billet d'avion </h2>
                            <p class="font-[400] text-[16px] text-[#141414]">Séjour maximun de 180 joursDurée de validité
                              un titre de transport circulaire aller et retour.</p>
                            <div class="mt-8"><img src="right-arrow.svg" alt="right arrow"></div>
                        </div>
                        <div class="h-[315px] rounded-[20px] border border-[#E3DBD8] p-6 cursor-pointer bg-white">
                            <div
                                class="p-2 rounded-full bg-white border flex items-center justify-center w-[80px] h-[80px]">
                                <img class="w-[40px] h-[40px]" src="icon-3.svg" alt="icon 1"></div>
                            <h5 class="text-[#141414] text-[14px] mt-8">VISA</h5>
                            <h2 class="font-[600] text-[30px] leading-[36px]">carnet de vaccination</h2>
                            <p class="font-[400] text-[16px] text-[#141414]">Le carnet de vaccination contre la fièvre jaune est demandé pour la demande d’e-Visa</p>
                            <div class="mt-8"><img src="right-arrow.svg" alt="right arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="w-full mt-16 text-[#3d997c]">
            <div class="max-w-7xl mx-auto">
                <div class="flex flex-col items-center justify-center">
                    <div class="flex items-center gap-2">transport<img src="telegram.svg" alt="line right">
                    </div>
                    <div class="font-[700] text-[50px] leading-[60px]">Moyens de transport</div>
                </div>
            </div>


            <section class="hero-section w-full relative h-[500px] bg-[#e8edf0] ">
                <div class="flex items-center justify-center max-w-7xl mx-auto h-full rounded-[30px] pt-12">
                    <div class="w-[50%] h-full relative">
                        <div
                            class="absolute h-[300px] w-[400px] top-[100px] -left-32 bg-white z-20 rounded-[10px] shadow-md">
                            <p class="p-[40px] text-[#141414]">
                                L’arrivée au Cameroun avec l’e-Visa n’est actuellement possible qu’à ces points d’entrée
                                Aéroport international de Douala
                                Aéroport international de Yaoundé-Nsimalen
                            </p>

                        </div>
                        <div
                            class="absolute h-[500px] w-[400px] top-0 right-0 z-5 bg-[#D9D9D9] z-10 flex items-center justify-center rounded-[30px]">
                            <img src="avion.svg" alt="plane"></div>
                    </div>
                </div>
            </section>


            <div class="w-full mt-[150px] text-[#3d997c] h-[700px]">
                <div class="max-w-7xl mx-auto flex flex-col items-center justify-center">
                    <div class="font-[700] text-[50px] leading-[60px]">Nationalités éligibles</div>
                    <div class="flex flex-col items-center justify-center text-center min-w-[800px]">
                        <div class="flex items-center gap-2 text-[#141414] my-4">Toutes les nationalités ont besoin d’un e-Visa pour le
                            Cameroun. <br> Seules les suivantes n’ont besoin d’aucun visa pour se rendre dans le pays :
                        </div>

                        <div class="w-full h-auto flex items-center justify-center mt-6">
                            <div class="grid grid-cols-3 w-full h-auto gap-2">
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="centre-afrique.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">République Centrafricaine</div>
                                </div>
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="tchad.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">Tchad</div>
                                </div>
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="guinnee.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">Guinée Equatoriale</div>
                                </div>
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="congo.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">République du Congo</div>
                                </div>
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="nigeria.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">Nigéria</div>
                                </div>
                                <div
                                    class="h-[60px] rounded-[10px] border border-[#E3DBD8] hover:border-[#46709B] pl-2 pt-1 gap-3 flex items-center bg-white">
                                    <div class="w-[35px] h-[45px] rounded-full overflow-hidden"><img
                                            class="w-full h-full" src="gabon.svg" alt="central afrique"></div>
                                    <div class="text-[14px] text-left">Gabon</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="w-full mt-16 text-[#3d997c]">
                    <div class="max-w-7xl mx-auto">
                        <div class="font-[700] text-[50px] leading-[60px] text-center">Nos tarifs</div>
                    </div>
                </div>

                <section class="hero-section w-full relative h-auto bg-[#e8edf0] py-24">
                    <div class="flex items-center max-w-7xl mx-auto h-full rounded-[30px]">
                        <div class="w-full h-auto flex items-center justify-center text-[#3d997c]">
                            <div class="grid grid-cols-3 grid-rows-1 w-full h-auto gap-4">
                                <div
                                    class="h-auto pb-8 rounded-[20px] border border-[#8f8d8c] cursor-pointer bg-white overflow-hidden">
                                    <h5 class="text-[#3d997c] text-[30px] bg-[#e8edf0] p-4 text-center font-[600]">visa
                                        normal</h5>
                                    <div class="text-[50px] leading-[60px] text-center border-b mb-4">
                                        233 €
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Séjour maximun de 180 jours</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Durée de validité de 6 mois</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Multiple entrée</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                      <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                      <div class="text-[#141414]">Durée de traitement(4 jours)</div>
                                  </div>

                                    <div
                                        class="flex items-center ml-8 justify-center border border-[#3d997c] hover:bg-[#3d997c] text-[#3d997c] hover:text-white transition-text cursor-pointer rounded-[100px] transition-bg duration-500 mt-8 w-[210px] py-2 px-4 gap-2">
                                        <div class="whitespace-nowrap text-[14px">commencons maintenant</div>
                                        <div class="block hover:hidden"><img src="right-arrow.svg" alt="right arrow">
                                        </div>
                                        <!-- <div class="hidden hover:block"><img src="right-white.svg" alt="right arrow"></div> -->
                                    </div>
                                </div>
                                <div
                                    class="h-auto pb-8 rounded-[20px] border border-[#8f8d8c] cursor-pointer bg-white overflow-hidden">
                                    <h5 class="text-[#3d997c] text-[30px] bg-[#e8edf0] p-4 text-center font-[600]">visa express</h5>
                                    <div class="text-[50px] leading-[60px] text-center border-b mb-4">
                                        345 €
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Séjour maximun de 180 jours</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Durée de validité de 6 mois</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Multiple entrée</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                      <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                      <div class="text-[#141414]">Durée de traitement (2 jours)</div>
                                  </div>

                                    <div
                                        class="flex items-center ml-8 justify-center border border-[#8f8d8c] hover:bg-[#3d997c] text-[#3d997c] hover:text-white transition-text cursor-pointer rounded-[100px] transition-bg duration-500 mt-8 w-[210px] py-2 px-4 gap-2">
                                        <div class="whitespace-nowrap text-[14px">commencons maintenant</div>
                                        <div class="block hover:hidden"><img src="right-arrow.svg" alt="right arrow">
                                        </div>
                                        <!-- <div class="hidden hover:block"><img src="right-white.svg" alt="right arrow"></div> -->
                                    </div>
                                </div>
                                <div
                                    class="h-auto pb-8 rounded-[20px] border border-[#8f8d8c] cursor-pointer bg-white overflow-hidden">
                                    <h5 class="text-[#3d997c] text-[30px] bg-[#e8edf0] p-4 text-center font-[600]">visa long sejour</h5>
                                    <div class="text-[50px] leading-[60px] text-center border-b mb-4">
                                      406 €
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Séjour maximun de 12 mois
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Durée de validité de 12 mois</div>
                                    </div>
                                    <div class="flex items-center gap-2 pl-8">
                                        <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                        <div class="text-[#141414]">Multiple entrée</div>
                                    </div>

                                    <div class="flex items-center gap-2 pl-8">
                                      <div><img class="w-[16px] h-[16px]" src="success.svg" alt=""></div>
                                      <div class="text-[#141414]">Durée de traitement (4 jours)</div>
                                  </div>
                                    <div
                                        class="flex items-center ml-8 justify-center border border-[#3d997c] hover:bg-[#3d997c] text-[#3d997c] hover:text-white transition-text cursor-pointer rounded-[100px] transition-bg duration-500 mt-8 w-[210px] py-2 px-4 gap-2">
                                        <div class="whitespace-nowrap text-[14px">commencons maintenant</div>
                                        <div class="block hover:hidden"><img src="right-arrow.svg" alt="right arrow">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>

                <app-footer></app-footer>
            </div>
